.red {
    color: red;
}

.green {
    color: green;
}

.firstGroup{
    background-color: #AAFFAA;
}

.secondGroup{
    background-color: #DDFFDD;
}

.item{
    background-color: #EEEEEE;
}

.buttons {
    margin-top: 8px;
    margin-bottom: 8px;
}
